.link {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;

  &:hover {
    color: var(--secondary);
  }

  &--footer {
    color: var(--primary);
  }
}
