:root {
  --primary: #FFFFFF;
  --secondary: #1572D3;
  --secondary-light: #ecf5ff;
  --bg-footer: #051c34;

  --color-primary: #242424;
  --color-secondary: #272727;
  --color-secondary-light: #959595;
  --color-black: #000000;
  --color-secondary-title: rgba(21, 114, 211, 0.1);;

  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
