.hero-section {
  padding: 124px 0;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 200px 0;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 220px 0;
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    @media screen and (min-width: $bp-tablet) {
      width: 40%;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    position: relative;
    text-wrap: nowrap;
    color: var(--secondary);
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--secondary);
  }

  &__button {
    margin-left: 0;
    width: fit-content;
    text-wrap: nowrap;
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url("../../public/images/hero.png");
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 60%;
      z-index: 0;
    }
  }
}
