.process-section {
  position: relative;

  &__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      align-items: flex-start;
    }
  }

  &__subtitle {
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      background-image: url("../../public/images/decor-progress.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center left;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }
}
