.testimonials-section {
  padding: 4rem 0;

  &__title {
    margin-bottom: 0.5rem;
  }

}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding-top: 40px;
}

