.testimonials-section {
  padding: 4rem 0;
  background-color: var(--secondary-light);

  &__container {
    position: relative;

    &:before {
      display: none;
      @media screen and (min-width: $bp-tablet) {
        display: block;
        content: '';
        background-image: url("../../public/images/decor.png");
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding-top: 40px;
}

